/* RSUITE */
@import '~rsuite/dist/rsuite.min.css';
/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap');
/* font nav */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* font title */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter var", Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* NAV */

nav img {
    width: 50px;
    height: 50px;
    margin-top: 3px;
}

/* nav a title */
.rs-navbar-brand {
    font-size: 4rem;
    margin-left: 10px;
    padding: 0;
    font-family: 'Poiret One', cursive;
}

/* nav a pages btn */
.rs-navbar-item {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

/* PAGE HOME */
/* TOP PAGE HOME */

.head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-section .rs-container {
    align-items: center;
}

.title-gradient, .para-big {
    font-family: 'Heebo', sans-serif;
}

.title-gradient {
    font-size: 5rem;
    background: -webkit-linear-gradient(90deg, #f6d365, #fda085);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5%;
}

.para-big {
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 0.9;
}

.para-medium {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: rgba(235, 235, 245, .6);
}

.btn-bar-top {
    margin-top: 5%;
}

.btn-gradient {
    background: linear-gradient(90deg, #f6d365, #fda085);
}

.link-white {
    text-decoration: none;
    color: white;
}

.link-white:hover {
    text-decoration: none;
    color: white;
}

.btn-home {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    background-color: #1a1d24;
    border: 1px solid rgba(82, 82, 89, .68);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
}

.image-bg {
    position: absolute;
    top: 33%;
    left: 75%;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #f6d365 20%, #fda085 100%);
    filter: blur(72px);
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
}

.img-top-home {
    z-index: 100;
    width: 450px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    padding: 22px;
    margin: 30px;
}

/* FIN TOP PAGE HOME */

/* CARD */

.card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
}

.card {
    width: 25%;
    background-color: #1a1d24;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    transition: all .4s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    transition: all .4s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    background-color: #0f131a;
    border-radius: 5px;
    padding: 5px;
}

.card-title {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.card-para {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgba(235, 235, 245, .6);
}

/* FIN CARD */
/* FIN PAGE HOME */

/* PAGE ERROR 404 */
.error404 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6%;
}

.error404 .image-bg {
    width: 250px;
    height: 250px;
    left: 50%;
    top: 45%;
}

.link-back {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    background-color: #1a1d24;
    border: 1px solid rgba(82, 82, 89, .68);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 2%;
}

/* FIN PAGE ERROR 404 */

/* PAGE PLAY */

.play-dofus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.play-note h1, .register-note h1 {
    font-size: 2.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.play-note, .register-note {
    width: 60%;
    font-size: 1.8rem;
    font-weight: 400;
    color: #bcc0ff;
    margin: 2%;
    border: 1px solid transparent;
    border-radius: 8px;
    border-color: #646cff;
    background-color: rgba(100, 108, 255, .08);
    padding: 20px;
}

.play-download, .play-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.play-register {
    margin: 60px auto;
}

.para-pos {
    display: flex;
    gap: 20px;
    margin-top: 4%;
}

.para-download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgba(235, 235, 245, .6);
    width: 100%;
}

.btn-download {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.2;
    color: white;
    background-color: #1a1d24;
    border: 1px solid rgba(82, 82, 89, .68);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 2%;
    width: 50%;
    text-align: center;
}

.play-deco, .ladder-deco, .login-deco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.play-deco .image-bg {
    top: 110%;
    left: 50%;
}

.login-deco .image-bg {
    top: 90%;
    left: 50%;
}

/* FIN PAGE PLAY */

/* PAGE DEV */

.main-dev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.meet-dev-team h1 {
    text-align: center;
    font-size: 3.5rem;
}

.meet-dev-team p {
    color: rgba(235, 235, 245, .6);
    font-size: 2rem;
    max-width: 592px;
    line-height: 28px;
    text-align: center;
}

.container-dev, .container-partner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
}

.card-dev, .card-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1d24;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 10px 20px 10px;
    width: 350px;
    height: 350px;
}

.card-dev .dev-badge-online, .card-dev .dev-badge-offline, .card-partner .partner-badge-offline {
    position: relative;
    top: 5px;
    left: -30px;
    z-index: 000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.card-dev .dev-name, .card-partner .partner-name {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    margin-top: 10px;
}

.card-dev .dev-role, .card-partner .partner-role {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgba(235, 235, 245, .6);
}

.card-dev .dev-desc, .card-partner .partner-desc {
    font-size: 1.8rem;
    margin: 10px 0;
    max-width: 290px;
    text-align: center;
}

.card-dev .social-media, .card-partner .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-dev .social-media a, .card-partner .social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: rgba(235, 235, 245, .6);
}

.card-dev .social-media svg, .card-partner .social-media svg {
    width: 25px;
    height: 25px;
    color: rgba(235, 235, 245, .6);
}

.card-dev .social-media a svg, .card-partner .social-media a svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.div-line {
    width: 100%;
    height: 1px;
    background-color: rgba(235, 235, 245, .6);
    margin: 20px 0;
}

.title-text {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
}

/* FIN PAGE DEV */

/* PAGE NEWS */

.news-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
}

.card-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #1a1d24;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 700px;
    height: 620px;
    text-align: center;
    transition: all .4s ease-in-out;
}

.card-news:hover {
    background-color: #1a1d24;
    box-shadow: 0 0 10px 0 rgba(255, 255, 0, .7);
    transform: scale(1.02);
    transition: all .4s ease-in-out;
}

.card-news-img {
    width: 100%;
    height: 360px;
    background-color: rgba(235, 235, 245, .6);
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-news-title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
    max-width: 90%;
    text-align: center;
}

.card-news-para, .card-news-date {
    font-size: 1.6rem;
    color: rgba(235, 235, 245, .6);
    margin-bottom: 10px;
}

/* FIN PAGE NEWS */

/* PAGE LADDER */

.ladder-infos, .register-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.ladder-infos h1, .register-infos h1, .succes-infos h1 {
    font-size: 4rem;
    color: white;
}

.ladder-infos p, .register-infos p {
    font-size: 2rem;
    color: rgba(235, 235, 245, .6);
    margin-top: 10px;
    max-width: 350px;
    text-align: center;
}

.ladder-container {
    width: 50%;
    margin: 3% auto;
}

.ladder-container div {
    border-radius: 10px;
}

.ladder-deco .image-bg {
    top: 105%;
    left: 50%;
}

/* table title column */
.rs-table-cell-content {
    font-size: 1.6rem;
    color: white;
}

.rs-table-body-row-wrapper {
    background-color: #1a1d24;
}

.txt-admin, .txt-yellow {
    color: rgba(255, 255, 0, .8);
}

/* FIN PAGE LADDER */

/* PAGE SERVER DOWN */
.section-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.section-error h1 {
    font-size: 5rem;
    color: white;
    margin-bottom: 20px;
}

.section-error p {
    font-size: 2rem;
    color: rgba(235, 235, 245, .6);
    margin-bottom: 20px;
    max-width: 450px;
    text-align: center;
}

.section-error img {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 0, .7);
}

.section-error button {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    background-color: #1a1d24;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    transition: all .4s ease-in-out;
}

.section-error button:hover {
    color: rgba(235, 235, 245, .6);
    background-color: #1a1d24;
    transform: scale(1.02);
    transition: all .4s ease-in-out;
}

/* PAGE REGISTER */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-note {
    width: 50%;
}

.form-register {
    margin: 20px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rs-form-help-text-tooltip {
    font-size: 2rem;
    color: rgba(255, 255, 0, .7);
    animation: pulse 1s linear infinite;
}

.form-register button {
    /* margin: 20px auto; */
    transition: all .4s ease-in-out;
    font-size: 1.6rem;
}

.form-register button:hover {
    background-color: #1a1d24;
    transform: scale(1.03);
    transition: all .4s ease-in-out;
    color: white;
}

.txtErrorEntry {
    font-size: 1.6rem;
    color: rgba(255, 0, 0, .8);
    margin: 10px 0 30px 0;
    text-align: center;
}

.rs-toast {
    margin-top: 15%;
}

/* FIN PAGE REGISTER */

/* PAGE SUCCES */

.succes-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.succes-infos h1 {
    font-size: 4rem;
    margin-top: 2%;
}

.succes-infos p {
    font-size: 2.8rem;
    color: rgba(235, 235, 245, .6);
    margin-bottom: 20px;
    max-width: 500px;
    text-align: center;
    margin: 2%;
}

.succes-infos a {
    margin: 2%;
}

/* FIN PAGE SUCCES */

/* PAGE LOGIN */

.login-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.login-infos h1 {
    font-size: 5rem;
    color: white;
}

.login-infos p {
    font-size: 2rem;
    color: rgba(235, 235, 245, .6);
    margin-top: 10px;
    max-width: 350px;
    text-align: center;
}

.form-login {
    margin: 5% 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIN PAGE LOGIN */

/* PAGE ACCOUNT */

.account-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.account-infos h1 {
    font-size: 3.2rem;
    margin-top: 2%;
}

.account-infos p {
    font-size: 2rem;
    color: rgba(235, 235, 245, .6);
    max-width: 500px;
    text-align: center;
    margin: 1%;
}

.all-details-account-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-account-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    margin: 2%;
    border: 1px solid #1a1d24;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #1a1d24
}

.account-infos-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.account-infos-card p {
    font-size: 1.6rem;
}

.card-players-infos-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 2%;
}

.card-player {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    transition: all .4s ease-in-out;
}

.card-player .rs-badge {
    position: relative;
    top: 15px;
    left: -25%;
    z-index: 000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.card-player img {
    width: 60%;
    border-radius: 10px;
    border: 1px solid #1a1d24;
    box-shadow: 0 0 10px 0 #1a1d24;
}

.card-player h3 {
    font-size: 1.8rem;
    margin-top: 2%;
}

.card-player p {
    font-size: 1.6rem;
    color: rgba(235, 235, 245, .6);
    margin: 2%;
}

.card-player:hover {
    transform: scale(1.05);
    transition: all .4s ease-in-out;
}

.btn-logout {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    background-color: #1a1d24;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all .4s ease-in-out;
    text-decoration: none;
    margin: 10%;
}

.btn-logout:hover {
    text-decoration: none;
    color: rgba(235, 235, 245, .6);
    border: 1px solid rgba(255, 255, 0, .7);
    background-color: #1a1d24;
    transform: scale(1.02);
    transition: all .4s ease-in-out;
}

.rs-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.rs-row .rs-col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.rs-row .rs-panel-body {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.rs-row img {
    width: 90px;
    height: 90px;
}

.card-no-job {
    border: transparent;
    text-align: center;
}

.col-no-jobs {
    display: block !important;
}

.rs-modal-header h4 {
    font-size: 3.2rem;
}

.rs-modal-body h3 {
    font-size: 2.8rem;
    margin-top: 2%;
}

.rs-modal-body p {
    font-size: 1.8rem;
}

.rs-tooltip {
    font-size: 1.6rem;
    width: 100%;
}

/* FIN PAGE ACCOUNT */

/* FIN PAGE SERVER DOWN */

.back-home-btn {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    background-color: #1a1d24;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.back-home-btn:hover {
    color: rgba(235, 235, 245, .6);
    background-color: #1a1d24;
    transform: scale(1.02);
    transition: all .4s ease-in-out;
    text-decoration: none;
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #5c5c5c #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #0f131a;
}

*::-webkit-scrollbar-thumb {
    background-color: #1a1d24;
    border-radius: 5px;
    border: 1px solid #1a1d24;
}

.strong-txt {
    font-weight: 600;
    color: rgba(255, 255, 0, .7);
}

footer {
    text-align: center;
    background-color: #1a1d24;
    padding: 10px;
}

/* -------------------------------------- START MEDIA QUERIES -------------------------------------- */

/* dimensions pour tout les telephones (S, M, L) */
@media screen and (max-width: 767px) {

    /* NAV */

    .div-nav-flex-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .btnNav {
        width: 40px;
        height: 40px;
        background-color: #0f131a;
        border-radius: 50%;
        color: white;
        margin: 3%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rs-navbar-brand {
        font-size: 3rem;
        margin-top: 4%;
    }

    nav div {
        display: flex;
        flex-direction: row;
    }

    nav div div {
        flex-direction: column;
        align-items: flex-end;
    }

    /* PAGE HOME */
    /* TOP PAGE HOME */

    .head-section .rs-container {
        margin-top: 5%;
        flex-direction: column;
        text-align: center;
    }

    .head-section .rs-container article {
        padding: 5%;
    }

    .para-big {
        font-size: 3rem;
    }

    .btn-bar-top, .btn-bar-top .rs-container {
        margin: 0;
    }

    .btn-bar-top .rs-container div {
        justify-content: center;
    }

    .image-bg {
        display: none;
    }

    .img-top-home {
        width: 200px;
        height: 200px;
        margin: 0;
        padding: 0;
    }

    /* FIN TOP PAGE HOME */

    /* CARD */

    .card-section {
        flex-direction: column;
    }

    .card {
        width: 80%;
        margin: 10px 0 10px 0;
    }
    /* FIN CARD */
    /* FIN PAGE HOME */

    /* PAGE PLAY */

    .play-dofus {
        margin: 30px auto;
    }

    .play-note, .register-note {
        margin: 0;
        padding: 15px;
        width: 100%;
    }

    .register-note {
        width: 90%;
        margin: 10%;
    }

    /* FIN PAGE PLAY */

    /* PAGE DEV */

    .meet-dev-team p {
        margin-top: 25px;
    }

    /* FIN PAGE DEV */

    /* PAGE NEWS */

    .card-news {
        justify-content: space-between;
        height: 550px;
    }

    .card-news-title {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .card-news-para, .card-news-date {
        margin-bottom: 10px;
    }

    .card-news-img {
        height: 160px;
    }

    /* FIN PAGES NEWS */

    /* PAGE ERROR 404 */

    .error404 {
        margin: 5%;
        text-align: center;
    }

    /* FIN PAGE ERROR 404 */

    /* PAGE SERVER DOWN */
    .section-error h1 {
        margin: 5%;
        text-align: center;
    }

    .section-error p {
        font-size: 3rem;
        margin: 5%;
    }

    .section-error img {
        margin: 5%;
        width: 90%;
    }

    /* FIN PAGE SERVER DOWN */

    /* PAGE REGISTER */

    .rs-toast {
        display: none;
    }

    /* FIN PAGE REGISTER */

    /* PAGE SUCCES */

    .succes-infos {
        width: 100%;
        height: auto;
    }

    .succes-infos h1 {
        font-size: 3.5rem;
        margin: 5%;
    }
    
    .succes-infos p {
        font-size: 2rem;
        margin: 5%;
    }

    .succes-infos img {
        width: 80%;
        margin: 5%;
    }

    .succes-infos a {
        margin: 5%;
    }
    
    /* FIN PAGE SUCCES */
    
    /* PAGE ACCOUNT */

    .account-infos {
        text-align: center;
    }

    .account-infos h1 {
        margin: 3%;
        font-size: 2.6rem;
    }

    .account-infos p {
        font-size: 1.8rem;
    }

    .all-details-account-infos {
        flex-direction: column;
    }

    .card-account-infos {
        width: 90%;
        margin: 20px auto;
    }

    .card-players-infos-list {
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
    }

    .card-player {
        width: 100%;
        margin: 10px 0 10px 0;
    }

    .card-player h3 {
        font-size: 2.4rem;
    }

    .card-player p {
        font-size: 1.8rem;
    }

    .rs-row img {
        width: 40px;
        height: 40px;
    }

    /* FIN PAGE ACCOUNT */
}

/* dimensions special entre telephone large et tablette */
@media screen and  (min-width: 500px) and (max-width: 767px) {

    .btnNav {
        top: 30px;
        right: 0px;
    }

    .head-section {
        display: block;
    }
    
    .head-section .rs-container {
        margin: 0;
    }

    .card-section {
        flex-direction: row;
    }

    .card {
        width: 35%;
        height: 280px;
        margin: 10px;
    }

    .card-news {
        height: 540px;
    }

    .card-news-img {
        height: 280px;
    }
}

/* dimension special pour le 768px qui fais chier des fois */
@media screen and (min-width: 768px) and (max-width: 768px) {
    
    .play-deco .image-bg {
        top: 115%;
    }

    .ladder-deco .image-bg {
        top: 60%;
    }

}

/* dimensions entre tablette et laptop */
@media screen and  (min-width: 768px) and (max-width: 1023px) {

    /* NAV */

    /* nav a pages btn */
    .rs-navbar-item {
        font-size: 1.6rem;
    }

    /* PAGE HOME */
    /* TOP PAGE HOME */

    .head-section {
        margin: 5%;
    }

    .para-big {
        font-size: 3.5rem;
    }

    .rs-btn-toolbar {
        display: none;
    }

    .image-bg {
        width: 250px;
        height: 250px;
    }

    .img-top-home {
        width: 300px;
        height: 300px;
    }

    /* FIN TOP PAGE HOME */

    /* CARD */

    .card {
        width: 30%;
        height: 280px;
    }
    /* FIN CARD */
    /* FIN PAGE HOME */

    /* PAGE PLAY */

    .play-deco .image-bg {
        top: 130%;
    }

    /* FIN PAGE PLAY */

    /* PAGE DEV */

    .meet-dev-team p {
        margin-top: 25px;
    }

    .container-dev, .container-partner {
        /* flex-direction: row; */
        flex-wrap: nowrap;
    }

    /* FIN PAGE DEV */

    /* PAGE ERROR 404 */

    .error404 {
        margin: 5%;
        text-align: center;
    }

    .error404 .image-bg {
        top: 35%;
    }

    /* FIN PAGE ERROR 404 */

    /* PAGE SERVER DOWN */

    .section-error img {
        margin: 5%;
        width: 90%;
    }

    /* FIN PAGE SERVER DOWN */

    /* PAGE SUCCES */

    .succes-infos {
        width: 100%;
        height: auto;
    }

    .succes-infos h1 {
        font-size: 3.5rem;
        margin: 5%;
    }
    
    .succes-infos p {
        font-size: 2rem;
        margin: 5%;
    }

    .succes-infos img {
        width: 60%;
        margin: 5%;
    }

    .succes-infos a {
        margin: 5%;
    }

    /* FIN PAGE SUCCES */

    /* PAGE LOGIN */

    .login-deco .image-bg {
        top: 75%;
        left: 50%;
    }

    /* FIN PAGE LOGIN */

    /* PAGE ACCOUNT */

    .account-infos {
        text-align: center;
    }

    .all-details-account-infos {
        flex-direction: column;
    }

    .card-account-infos {
        width: 90%;
        margin: 20px auto;
    }

    .card-players-infos-list {
        flex-direction: row;
        width: 90%;
        margin: 20px auto;
    }

    .card-player {
        width: 45%;
        margin: 10px 0 10px 0;
    }

    .card-player h3 {
        font-size: 2.4rem;
    }

    .card-player p {
        font-size: 1.8rem;
    }

    /* FIN PAGE ACCOUNT */
}

/* laptop et ecran moyen */
@media screen and  (min-width: 1023px) and (max-width: 1700px) {

    .head-section {
        margin: 5%;
    }

    .card {
        height: 280px;
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}